@*
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Krokodýli</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
@**@

@**@

<div style="margin:auto; width:54%;">
    <ul class="nav nav-pills uppermenu" >
        @Button("Domů", "index")
        @Button("O nás", "about-us")
        @Button("Akce","events")
        @Button("Tábor","summer-camp")
        @Dropdown("Pro členy", 
            ("Naše činnost", "about-us/our-work"),
            ("Naše parta", "about-us/our-team")
        )
        @Button("Fotogalerie", "fotogalery");
        @Button("Podpořte nás!", "how-to-support-us");
        @Button("Odkazy", "references");
        @Button("Kontakt", "contacts");
    </ul>
    <center>
        <br class="br" />
        <h1 style="font-size:50px">Krokodýli</h1>
        <h3>JUNÁK - český skaut, z.s.</h3>
    </center>
</div>@**@



@code {
    private RenderFragment Button(string text, string href) => __builder =>
    {
    <li class="nav-item"><a class="nav-link" id="uppermenu_btn" href="@href">@text</a></li>
    };

    private RenderFragment Dropdown(string text, params (string Text, string Href)[] options) => __builder =>
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="uppermenu_btn" href="#"  role="button" aria-haspopup="true" aria-expanded="false">@text</a>
            <div class="dropdown-menu">
            @foreach(var o in options)
            {
                <a class="dropdown-item" href="@(o.Href)">@(o.Text)</a>
            }
            </div>
        </li>
    };

}
