<nav class="navbar navbar-expand-lg navbar-light bg-transparent text-white">
    <a class="navbar-brand text-white" href="#">Krokodýli</a>
  <button class="navbar-toggler  btn-close-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        
        @Button("Domů", "index")
        @Dropdown("O nás", 
            ("O nás", "pages/about-us"),
            __________,
            ("Naše činnost", "pages/about-us/our-work"),
            ("Kde nás najdete", "pages/about-us/where-to-find-us")
        )
        @Button("Akce","events")
        @Button("Tábor","pages/summer-camp")
        @Dropdown("Pro členy", 
            ("Pro členy", "pages/for-members"),
            __________,
            ("Kronika", "pages/for-members/chronicles"),
            ("Bodování", "pages/for-members/scores"),
            ("Stezka", "pages/for-members/stezka"),
            ("Pomůcky na schůzky a akce", "pages/for-members/accessories-list"),
            ("Kroj", "pages/for-members/uniforms"),
            ("Čísla členů", "for-members/numbering")
        )
        @Button("Fotogalerie", "fotogalery-test")
        @Button("Podpořte nás!", "pages/how-to-support-us")
        @Button("Odkazy", "pages/references")
        @Button("Kontakt", "pages/contacts")
    </ul>
  </div>
</nav>




@code {
    private static readonly (string, string) __________ = default;

    private RenderFragment Button(string text, string href) => __builder =>
    {
    <li class="nav-item"><a class="nav-link text-white" id="uppermenu_btn" href="@href">@text</a></li>
    };

    private RenderFragment Dropdown(string text, params (string Text, string Href)[] options) => __builder =>
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" id="uppermenu_btn"  data-toggle="dropdown" href="#"  role="button" aria-haspopup="true" aria-expanded="false">@text</a>
            <div class="dropdown-menu">
            @foreach(var o in options)
            {
                @if(o == default)
                {
                    <div class="dropdown-divider"></div>
                }
                else
                {
                    <a class="dropdown-item" href="@(o.Href)">@(o.Text)</a>
                }
            }
            </div>
        </li>
    };

}
